main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
}

#routines {
  margin-top: 20px;
}

.slider {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70vw;
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  height: 15px;
  background-color: rgb(71, 71, 71);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border-radius: 15px;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border-radius: 15px;
}

#delay::-webkit-slider-thumb {
  background-image: url('/images/clock.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#brightness::-webkit-slider-thumb {
  background-image: url('/images/sun.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#delay::-moz-range-thumb {
  background-image: url('/images/clock.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#brightness::-moz-range-thumb {
  background-image: url('/images/sun.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
}

.settings-button {
  background-image: url('/images/settings.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  bottom: 20px;
}